/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require whitespace-reset
 *= require rails_bootstrap_forms
 *= require_tree .
*/

h2, h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

.container.white-background {
  text-align: center;
  background-color: ghostwhite;
  padding: 30px 20px;
}

.container.form-group {
  width: 75%;
  background-color: ghostwhite;
  padding: 30px 50px;
}

.red {
  color: darkred;
}

.alert-error {
  background: #d3b1b7;
  border: 1px solid darkred;
  color: darkred;
}